<sui-theme-toggle />

<div>
  <h1>Smooth UI Icons</h1>

  <div style="display: flex; gap: 1rem;">
    @for (icon of icons; track icon) {
      <div style="display: flex; flex-direction: column; gap: 1rem;">
        <sui-icon [name]="icon" />
        <p>{{ icon }}</p>
      </div>
    }
  </div>
</div>

<div>
  <h1>Smooth UI Button</h1>

  <div style="display: flex; align-items: center; gap: 1rem;">
    <sui-button name="Button" />
    <sui-button name="Button" variant="secondary" />
    <sui-button name="Button" variant="tonal" />
    <sui-button name="Button" variant="outline" />
    <sui-button name="Button" variant="ghost" />
    <sui-button name="Button" variant="danger" />
    <sui-button name="Button" state="focus" />
    <sui-button name="Button" state="disabled" />
    <sui-button [selected]="true" name="Button" />
    <sui-button icon="check" name="Button" />
    <sui-button [iconEnd]="true" icon="check" name="Button" />
    <sui-button icon="check" name="Button" shape="flat" variant="outline" />
    <sui-button icon="check" name="Button" shape="rounded" variant="outline" />
    <sui-button icon="check" name="Button" shape="pill" variant="outline" />
    <sui-button [loading]="true" name="Button" />
    <sui-button name="Button" size="sm" variant="primary" />
    <sui-button name="Button" variant="primary" />
    <sui-button name="Button" size="lg" variant="primary" />
  </div>

  <div style="width: 500px">
    <sui-button [fullWidth]="true" name="Button" />
  </div>
</div>

<div>
  <h1>Smooth UI Icon Button</h1>

  <div style="display: flex; align-items: center; gap: 1rem;">
    <sui-icon-button icon="sun" variant="ghost" />
    <sui-icon-button icon="sun" variant="outline" />
    <sui-icon-button icon="sun" variant="primary" />
    <sui-icon-button icon="sun" shape="flat" variant="outline" />
    <sui-icon-button icon="sun" variant="outline" />
    <sui-icon-button icon="sun" shape="pill" variant="outline" />
    <sui-icon-button icon="sun" state="focus" variant="primary" />
    <sui-icon-button icon="sun" state="disabled" variant="primary" />
    <sui-icon-button [selected]="true" icon="sun" variant="primary" />
    <sui-icon-button icon="sun" size="sm" variant="primary" />
    <sui-icon-button icon="sun" size="md" variant="primary" />
    <sui-icon-button icon="sun" size="lg" variant="primary" />
    <sui-icon-button [badge]=10 icon="sun" variant="primary" />
  </div>
</div>

<div>
  <h1>Smooth UI Button Group</h1>

  <div style="display: flex; flex-direction: column; gap: 1rem;">
    <div style="display: flex; align-items: center; gap: 1rem;">
      <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="button" />
      <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="button" />
      <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="button" />
    </div>

    <div style="display: flex; align-items: center; gap: 1rem;">
      <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="button" variant="primary" />
      <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="button" variant="primary" />
      <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="button" variant="primary" />
    </div>

    <div style="display: flex; align-items: center; gap: 1rem;">
      <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="icon" />
      <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="icon" />
      <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="icon" />
    </div>

    <div style="display: flex; align-items: center; gap: 1rem;">
      <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="icon" variant="primary" />
      <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="icon" variant="primary" />
      <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="icon" variant="primary" />
    </div>
  </div>
</div>

<div>
  <h1>Smooth UI Button Split</h1>

  <div style="display: flex; align-items: center; gap: 1rem;">
    <sui-button-split [menuItems]="menuItems" name="Save" shape="flat" size="sm" />
    <sui-button-split [menuItems]="menuItems" name="Save" shape="rounded" />
    <sui-button-split [menuItems]="menuItems" name="Save" shape="pill" size="lg" />

    <sui-button-split [menuItems]="menuItems" name="Save" shape="flat" size="sm" variant="primary" />
    <sui-button-split [menuItems]="menuItems" name="Save" shape="rounded" variant="primary" />
    <sui-button-split [menuItems]="menuItems" name="Save" shape="pill" size="lg" variant="primary" />
  </div>
</div>

<div>
  <h1>Smooth UI Link</h1>

  <div style="display: flex; align-items: center; gap: 1rem;">
    <sui-link title="Default Link" url="#" />
    <sui-link [external]="true" title="External Link" url="https://angular.dev/" />
    <sui-link state="focus" title="Focus" url="#" />
    <sui-link [underline]="true" title="Underline" url="#" />
    <sui-link title="Neutral Link" url="#" variant="muted" />
    <sui-link state="disabled" title="Disabled" url="#" />
  </div>
</div>
