<div class="container">
  <sui-theme-toggle class="theme-toggle" />

  <div class="col">
    <h1>Smooth UI Icons</h1>

    <div class="row">
      @for (icon of icons; track icon) {
        <div class="col icon-square">
          <sui-icon [name]="icon" />
          <p class="icon-description">{{ icon }}</p>
        </div>
      }
    </div>
  </div>

  <div class="col">
    <h1>Smooth UI Button</h1>

    <div class="row">
      <sui-button name="Button" />
      <sui-button name="Button" variant="secondary" />
      <sui-button name="Button" variant="tonal" />
      <sui-button name="Button" variant="outline" />
      <sui-button name="Button" variant="ghost" />
      <sui-button name="Button" variant="danger" />
      <sui-button name="Button" state="focus" />
      <sui-button disabled name="Button" />
      <sui-button name="Button" selected />
      <sui-button icon="check" name="Button" />
      <sui-button icon="check" iconEnd name="Button" />
      <sui-button icon="check" name="Button" shape="flat" variant="outline" />
      <sui-button icon="check" name="Button" shape="rounded" variant="outline" />
      <sui-button icon="check" name="Button" shape="pill" variant="outline" />
      <sui-button loading name="Button" />
      <sui-button name="Button" size="sm" variant="primary" />
      <sui-button name="Button" variant="primary" />
      <sui-button name="Button" size="lg" variant="primary" />
    </div>

    <div style="width: min(500px, 100%)">
      <sui-button fullWidth name="Button" />
    </div>
  </div>

  <div class="col">
    <h1>Smooth UI Icon Button</h1>

    <div class="row">
      <sui-icon-button icon="sun" variant="ghost" />
      <sui-icon-button icon="sun" variant="outline" />
      <sui-icon-button icon="sun" variant="primary" />
      <sui-icon-button icon="sun" shape="flat" variant="outline" />
      <sui-icon-button icon="sun" variant="outline" />
      <sui-icon-button icon="sun" shape="pill" variant="outline" />
      <sui-icon-button icon="sun" state="focus" variant="primary" />
      <sui-icon-button disabled icon="sun" variant="primary" />
      <sui-icon-button icon="sun" selected variant="primary" />
      <sui-icon-button icon="sun" size="sm" variant="primary" />
      <sui-icon-button icon="sun" size="md" variant="primary" />
      <sui-icon-button icon="sun" size="lg" variant="primary" />
      <sui-icon-button [badge]=10 icon="sun" variant="primary" />
    </div>
  </div>

  <div class="col">
    <h1>Smooth UI Button Group</h1>

    <div class="col">
      <div class="row">
        <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="button" />
        <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="button" />
        <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="button" />
      </div>

      <div class="row">
        <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="button" variant="primary" />
        <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="button" variant="primary" />
        <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="button" variant="primary" />
      </div>

      <div class="row">
        <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="icon" />
        <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="icon" />
        <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="icon" />
      </div>

      <div class="row">
        <sui-button-group [buttons]="buttonsGroup" shape="flat" size="sm" type="icon" variant="primary" />
        <sui-button-group [buttons]="buttonsGroup" shape="rounded" type="icon" variant="primary" />
        <sui-button-group [buttons]="buttonsGroup" shape="pill" size="lg" type="icon" variant="primary" />
      </div>
    </div>
  </div>

  <div class="col">
    <h1>Smooth UI Button Split</h1>

    <div class="row">
      <sui-button-split [menuItems]="menuItems" name="Save" shape="flat" size="sm" />
      <sui-button-split [menuItems]="menuItems" name="Save" shape="rounded" />
      <sui-button-split [menuItems]="menuItems" name="Save" shape="pill" size="lg" />

      <sui-button-split [menuItems]="menuItems" name="Save" shape="flat" size="sm" variant="primary" />
      <sui-button-split [menuItems]="menuItems" name="Save" shape="rounded" variant="primary" />
      <sui-button-split [menuItems]="menuItems" name="Save" shape="pill" size="lg" variant="primary" />
    </div>
  </div>

  <div class="col">
    <h1>Smooth UI Link</h1>

    <div class="row">
      <sui-link title="Default Link" url="#" />
      <sui-link external title="External Link" url="https://angular.dev/" />
      <sui-link state="focus" title="Focus" url="#" />
      <sui-link title="Underline" underline url="#" />
      <sui-link title="Neutral Link" url="#" variant="muted" />
      <sui-link disabled title="Disabled" url="#" />
    </div>
  </div>

  <div class="col">
    <h1>Smooth UI Text Field</h1>

    <h2>Default Form Group With Form Controls</h2>

    <form [formGroup]="formGroup" class="row row-start">
      <sui-text-field [customErrors]="formGroupErrors.text" formControlName="text"
                      hint="This is a hint for default text field" iconStart="info" label="Default Text Field"
                      placeholder="Default Text Field" size="sm" />
      <sui-text-field [customErrors]="formGroupErrors.email" formControlName="email" label="Email Text Field"
                      placeholder="Email Text Field" size="md" type="email" variant="filled" />
      <sui-text-field [customErrors]="formGroupErrors.password" formControlName="password" label="Password Text Field"
                      placeholder="Password Text Field" size="lg" type="password" variant="underline" />
      <sui-text-field [customErrors]="formGroupErrors.search" formControlName="search" label="Search Text Field"
                      placeholder="Search Text Field" type="search" />
      <sui-text-field [customErrors]="formGroupErrors.tel" formControlName="tel" label="Phone Text Field"
                      placeholder="Phone Text Field" size="lg" type="tel" />
      <sui-text-field [customErrors]="formGroupErrors.url" formControlName="url" label="Url Text Field"
                      placeholder="Url Text Field" size="md" type="url" variant="filled" />
      <sui-text-field [customErrors]="formGroupErrors.number" formControlName="number" iconEnd="info"
                      label="Number Text Field" placeholder="Number Text Field" readonly size="sm" type="number"
                      variant="underline" />

      <sui-button (click)="onSubmitFormGroup()" name="Submit Data" type="submit" />
      <sui-button name="Reset" type="reset" variant="outline" />
    </form>

    <h2>Signal Form</h2>

    <form (submit)="onSubmitSignalForm($event)" class="row row-start" novalidate>
      <sui-text-field [formField]="textFieldsForm.text" hint="This is a hint for default text field"
                      iconStart="info" label="Default Text Field" placeholder="Default Text Field" size="sm" />
      <sui-text-field [formField]="textFieldsForm.email" label="Email Text Field" placeholder="Email Text Field"
                      size="md" type="email" variant="filled" />
      <sui-text-field [formField]="textFieldsForm.password" label="Password Text Field"
                      placeholder="Password Text Field" size="lg" type="password" variant="underline" />
      <sui-text-field [formField]="textFieldsForm.search" label="Search Text Field"
                      placeholder="Search Text Field" type="search" />
      <sui-text-field [formField]="textFieldsForm.tel" label="Phone Text Field" placeholder="Phone Text Field"
                      size="lg" type="tel" />
      <sui-text-field [formField]="textFieldsForm.url" label="Url Text Field" placeholder="Url Text Field"
                      size="md" type="url" variant="filled" />
      <sui-text-field [formField]="textFieldsForm.number" iconEnd="info" label="Number Text Field"
                      placeholder="Number Text Field" size="sm" type="number" variant="underline" />

      <sui-button name="Submit Data" type="submit" />
      <sui-button name="Reset" type="reset" variant="outline" />
    </form>
  </div>
</div>
